div.announcement {
  text-align: center;
  font-size: 20pt;
  font-family: "Zapfino", "Edwardian Script II", "Vivaldi", "Nimbus Script", "Blackadder", cursive;
}

div.announcement div.sarah {
  font-size: 115%;
  width: 100%;
  position: absolute;
}
div.announcement div.and {
  font-size: 75%;
  width: 100%;
  position: absolute;
}
div.announcement div.dustin {
  font-size: 115%;
  width: 100%;
  position: absolute;
}
div.announcement div.on {
  font-size: 75%;
  width: 100%;
  position: absolute;
}
div.announcement div.text {
  font-size: 100%;
  width: 100%;
  position: absolute;
}
div.announcement div.date {
  font-size: 100%;
  width: 100%;
  position: absolute;
}
div.announcement div.time {
  font-size: 100%;
  width: 100%;
  position: absolute;
}
